@{
    ViewData["Title"] = "My  Groups";
}



<h1>My Groups</h1>
<div class="demo-container">
    <div id="gridContainer"></div>
</div>

@section Scripts{
    <script>
        $(function () {
            groups.init();
        })
    </script>
    }

