
@{
    ViewData["Title"] = "My Subgroups";
}

<h1>My Subgroups</h1>
<div class="demo-container">
    <div id="gridContainer"></div>
</div>

@section Scripts{
    <script>
        $(function () {
            subgroups.init();
        })
    </script>
    }