html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dx-header-row{
    background-color: #5156be;
    color: white;
}

.dx-textbox{
    height:45px;
}

.dx-texteditor-input-container {
    margin-top: 5px;
}

.dx-label span {
    font-size: 15px !important;
    font-weight: 600;
}

.no-of-subgroup {
    float:right;
    margin-right:10px;
    color: #5156be;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.hidden {
    display: none;
}

.tableDateFromNow {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #5156be;
    font-weight: 600;
    /*text-shadow: 1px 1px #5cb85c;*/
}

.tab-content .dx-textbox {
    height: 35px;
}

@media only screen and (min-width: 600px) {
    .download-sample {
        margin-top: 60px !important;
    }
}

.btn-send-sms {
    color: white !important;
    background-color: #57b1c5 !important;
}

    .btn-send-sms.dx-state-hover {
        background-color: #247a8d !important;
        color: white !important;
    }

    .btn-send-sms.dx-state-active {
        background-color: #247a8d !important;
        color: white !important;
    }


.number-count {
    font-size: 18px;
    font-weight: 500;
}
.remaining-credit {
    font-size: 18px;
    font-weight: 500;
}
#number-count {
    padding: 0px 3px;
    border: 1px solid;
    border-radius: 13px;
    color: white;
    background-color: #414598;
    font-size: 18px;
    font-weight: 600;
}

#selfSms .dx-checkbox-container{
    margin-left:11px;
}

.lang-char {
    color: #414598;
}