@{
    ViewData["Title"] = "SMS Template";
}

<h1>SMS Template</h1>

@section Scripts{
        <script src="~/js/custom/sms.js"></script>
        <script>
            $(function () {
                sms.init();
            })
        </script>
    }