<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>
                <li>
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);"
                       class="has-arrow">
                        <i class="fa-solid fa-address-card"></i>
                        <span data-key="t-apps">Contacts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="/contact/mycontacts">
                                <i class="fa-solid fa-address-book"></i>
                                <span data-key="t-calendar">My Contacts</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);"
                               class="has-arrow">
                                <i class="fa-solid fa-users-rectangle"></i>
                                <span data-key="t-apps">Groups</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li>
                                    <a href="/group/mygroups">
                                        <i class="fa-solid fa-people-group"></i>
                                        <span data-key="t-chat">My Group</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/group/mysubgroups">
                                        <i class="fa-solid fa-user-group"></i>
                                        <span data-key="t-chat">My Subgroup</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
