
@{
    ViewData["Title"] = "MyContacts";
}

<h1>MyContacts</h1>

<div class="demo-container">
    <div id="gridContainer"></div>
</div>
@section Scripts{
    <script src="/js/custom/contacts.js"></script>
    <script>
        $(function () {
            contacts.init();
        })
    </script>
    }